# /home/hisakey/device-platform/device/sensor_sender.service

[Unit]
Description=Send sensor data once on boot
After=network.target

[Service]
ExecStart=/home/hisakey/venv/bin/python /home/hisakey/device-platform/device/send_data.py
WorkingDirectory=/home/hisakey/device-platform/device
StandardOutput=append:/home/hisakey/send_log.txt
StandardError=append:/home/hisakey/send_log.txt
Restart=on-failure

[Install]
WantedBy=multi-user.target

